<div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div> project-app
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center">LOGIN TO CONTINUE</p>
                    <form id="login-form" #userlogin = "ngForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control underlined" name="username" [(ngModel)]="login" id="username" placeholder="Your email address" required="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control underlined" name="password" [(ngModel)]="password" id="password" placeholder="Your password" required="">
                        </div>
                        <div class="form-group">
                            <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox">
                                <span>Remember me</span>
                            </label>
                            <a href="reset.html" class="forgot-btn pull-right">Mot de passe oublié ?</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" (click)="onLogin()" class="btn btn-block btn-primary">Login</button>
                        </div>
                        <div class="form-group">
                            <p class="text-muted text-center">
                                Nouveau sur project-app ? 
                                <a  routerLink="/content" >S’inscrire</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="btn btn-secondary btn-sm">
                    <i class="fa fa-arrow-left"></i> Back to dashboard </a>
            </div>
        </div>
    </div>
