<header class="header">
<div class="header-block header-block-buttons">
    <a routerLink="/" (click)="navigateToSignUpPage()" class="btn btn-sm header-btn">
        <i class="fa fa-github-alt"></i>
        <span>S'inscrir</span>
    </a>
    <a routerLink="/login" class="btn btn-sm header-btn">
        <i class="fa fa-star"></i>
        <span>S'identifier</span>
    </a>
</div>
</header>

<div class="sidebar-header">
    <div class="brand">
        <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
        </div> project-app
    </div>
</div>


<div class="home-welcome">
    <h1 class="hero__headline hero__headline--basic">Bienvenue dans votre application de gestion de projet</h1>
</div>